body{
    background-color: lightgrey;
}
h2{
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
    margin-top: 75px;
    margin-left: 50px;
    animation-name: colorchange,wave;
    animation-duration: 2s,2s;
    animation-iteration-count: infinite,2;
}
@keyframes colorchange{
    0%{
        color: rgb(110, 110, 110);
    }
    100%{
        color: rgb(80, 80, 80);
    }
}
@keyframes wave{
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(-5px);
    }
}
.guess{
    background-color: blue;
    border-radius: 20% ;
    margin-left: 560px;
    height: 400px;
    width: 450px;
    background: radial-gradient(rgb(255, 255, 255),rgb(245, 245, 245),rgb(230, 230, 230),rgb(210, 210, 210),rgb(190, 190, 190),rgb(170, 170, 170));
}
.guess pre{
    text-align: center;
    padding-top: 50px;
    font-family: cursive;
    font-size: 22px;
    text-wrap: wrap;
    font-style: italic;
    font-weight: 800;
}
.guess pre:hover{
    color: rgb(63, 62, 62);
}
.guess button{
    margin-left: 145px;
    margin-top: 50px;
    height: 35px;
    width: 175px;
    border-radius: 50px;
    box-shadow: 0px 0px 7px 7px darkgrey;
}
.guess button h3{
    margin-top: 6px;
}
.guess button:hover{
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
}
.guess input{
    margin-left: 112px;
    margin-top: 50px;
    height: 25px;
    width: 225px;
}
.guess input:hover{
    box-shadow: 0px 0px 2px 2px;
}
#result p{
    text-align: center;
    margin-top: -1px;
    margin-left: 55px;
    margin-bottom: 75px;
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    text-wrap: wrap;
    font-style: italic;
    font-weight: 800;
}