
header{
    height: 170px;
    background-image: linear-gradient(rgb(56, 3, 105),rgb(60, 13, 105),rgb(68, 26, 106));
}
#Home{
    background-image: url(17.5\ HomeBg.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    opacity: 0.9;
}
#About{
    background-image: url(17.5.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
#Varieties{
    background-image: url(VarBG.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
#Ingredients{
    background-image: url(DM.webp);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
#Advertisements{
    background-image: url(VideoBG.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
#Reviews{
    background-image: url(Purple.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
}
.head{
    display: inline-flex;
    align-items: center;
    padding: 0;
}
header div img{
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 20px;
    margin-left: 10px;
}
.navg nav ul{
    list-style: none;
    padding-left: 20px;
    margin: 0;
    display: flex;
    gap: 105px;
}
.navg nav ul li a{
    font-family: cursive;
    font-weight: 550;
    text-decoration: none;
    color: white;
    display: inline-block; 
    transition: color 0.3s, transform 0.3s;
}
.navg nav ul li a:hover{
    color: gold;
    transform: scale(1.5);
    font-weight: bold;
}
.audioimg img{
    width: 100%;
}
.audioimg audio{
    display: none;
}

#About h2{
    text-align: center;
    font-weight: 1000;
    margin-bottom: 20px;
    color: rgb(56, 3, 105);
    font-family: cursive;
    font-size: xx-large;
}
.aboutdm{
    display: flex;
    margin-bottom: 110px;
}
.aboutdm img{
    width: 100%;
    margin-left: 100px;
    height: 500px;
    max-width: 400px;
    border-radius: 10px;
    opacity: 0.8;
}
.para{
    color: black;
    line-height: 1.6;
}
.para pre{
    font-size: medium;
    padding-top: 10px;
    font-family: cursive;
    font-weight: 550;
    line-height: 3.6;
    color: rgb(56, 3, 105);
}
.image img{
    width: 100%;
}
#move{
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(189,135,26),rgb(249,224,84),rgb(191,136,27));
    overflow: auto auto;
    white-space: nowrap;
    padding: 1px;
}
#move .slide{
    display: inline-block;
}
#move .slide img{
    height: 250px;
    width: 250px;
    margin: 50px;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 40px;
    transition: transform 0.3s;
}
#move .slide img:hover{
    transform: scale(1.3);
}

#move .slide h4{
    margin-top: 2px;
    padding-left: 160px;
    color: rgb(56, 3, 105);
    font-family: cursive;
    font-size: medium;
    font-weight: 900;
    transition: transform 0.3s;
}

#move .slide h4:hover{
    transform: scale(1.3);
}

#Varieties h2{
    text-align: center;
    font-weight: 3000;
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(56, 3, 105);
    font-family: cursive;
    font-size: xx-large;
}

#move1{
    width: 100%;
    height: 100%;
    overflow: auto auto;
    white-space: nowrap;
    padding: 1px;
}
#move1 .slide1 video{
    height: 500px;
    width: 1250px;
    margin: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 0;
}
#move1 .slide1{
    display: inline-block;
}
#Advertisements h2{
    text-align: center;
    font-weight: 3000;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-top: 0;
    color: rgb(56, 3, 105);
    font-family: cursive;
    font-size: xx-large;
}
#Ingredients .ingd table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}
#Ingredients .ingd table td{
    padding: 10px;
}
#Ingredients .ingd table td img{
    width: 250px;
    height: 250px;
    margin-top: 60px;
    padding-bottom: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s;
}
#Ingredients .ingd table td img:hover{
    transform: scale(1.1);
}
#Ingredients h2{
    text-align: center;
    font-weight: 3000;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-top: 0;
    color: gold;
    font-family: cursive;
    font-size: xx-large;
}
#Reviews h1{
    font-size: xx-large;
    margin-bottom: 20px;
    text-align: center;
}
.form{
    display: inline-block;
    background-image: radial-gradient(rgb(189,135,26),rgb(249,224,84),rgb(191,136,27));
    padding: 20px;
    width: 390px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 75px;
    border-radius: 15%;
    transition: transform 0.3s;
}
.form:hover{
    transform: scale(1.05);
}
.form input,select,textarea,button{
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s;
}
.form input,select,textarea{
    background: rgba(255, 255, 255, 0.7);
    color: rgb(56, 3, 105);
    font-family: cursive;
}
.form button{
    background: rgb(56, 3, 105);
    color: white;
    font-family: cursive;
    transition: transform 0.3s;
}
.form button:hover{
    background: rgb(68, 26, 106);
    color: gold;
}
.review{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.review .reviewimage{
    width: 100%;
    margin-left: 100px;
    height: 500px;
    max-width: 400px;
    border-radius: 10px;
    opacity: 0.8;
}
#Footerse div p{
    background-image: linear-gradient(rgb(189,135,26),rgb(249,224,84),rgb(191,136,27));
    width: 100%;
    height: 100px;
    padding-left: 600px;
    padding-top: 59px;
    padding-bottom: 1px;
    font-family: cursive;
    color: rgb(56, 3, 105);
}
#Footerse .icon{
    padding-left: 250px;
    margin-left: 50px;
    display: inline;
    height: 25px;
    margin-bottom: 100px;
}
h5{
    font-size: large;
    font-style: italic;
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
}