table tr td{
    padding: 7px;
    
}
table{
    padding-left: 100px;
}
table tr{
    height: 50px;
    padding-left: 50px;
}  
body h1{
    text-align: center;
    color: blueviolet;
    font-style: italic;
    font-family: cursive;
}  
.container{
    display: flex;
    justify-content: center;
    border-color: black;
 }
.container2{
    display: flex;
    justify-content: center;
}
body{
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(rgb(189,135,26),rgb(249,224,84),rgb(191,136,27));
}
input{
    padding: 10px 10px;
}
button{
    padding: 10px 20px;
    background-color: rgb(56, 3, 105);
    color: gold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: black;
}
label{
    font-family: cursive;
    font-weight: 900;
}