body {
    text-align: center;
    background-color:;
    margin: 0;
    padding: 0;
}
form{
    background:lightgrey;
    padding: 20px;
    width: 350px;
    margin: 50px auto;
    box-sizing: border-box;
}
fieldset{
    border: none;
    padding: 0;
    margin: 0;
}
legend{
    margin-bottom: 15px;
    color: black;
}
label {
    margin-bottom: 5px;
    color: black;
}
input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid grey;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}
textarea{
    height: 80px;
}
button {
    background-color: black;
    color: white;
    border: none;
}
button[type="reset"] {
    background-color: black;
    color: white;
}
input::placeholder, textarea::placeholder {
    color: grey;
}
