body{
    padding-left: 500px;
}
#move{
    width: 650px;
    height: 700px;
    background-color: black;
    overflow: auto auto;
    white-space: nowrap;
    padding: 1px;
}
#move .slide{
    display: inline-block;
}